<h1>List of All the Employees</h1>

<ul>
<% @employees.each do |employee| %> 
    <li>
    <%= link_to "#{employee.name}", employee_path(employee) %>  
    </li>
    <%end%> 
    </ul> 

    <%= link_to "Create New Employee", new_employee_path %> 